.ctc
     position: relative
     background-repeat: no-repeat
     background-position: center
     background-size: cover
     height: 18rem
     background-image: linear-gradient(to right bottom, rgba($color-secondary, 0.95), rgba($color-secondary, 0.8)), url('../img/hero.jpg')
     @include text-center
     h2
          @include title
                    
     p
          font-size: 1.4rem
          line-height: 2rem
          color: $color-white
          font-weight: $lite-font
